*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus { outline: none; }
::-moz-focus-inner { border: 0; }

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	background-image: url('#{$path-images}bg-small.jpg');

	@media (min-width: 40em) { background-image: url('#{$path-images}bg.jpg'); }
	@media (min-width: 90em) { background-image: url('#{$path-images}bg-large.jpg'); }
}

canvas { display: block; }
