body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-color;
}

h1 {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

p {
  font-family: $script-font-family;
  font-size: 1.6em;
  margin: 0;
}

em { font-style: italic; }
strong { font-weight: 400; }
