// Paths
// ==========================================================================
$path-fonts: '../fonts/';
$path-images: '../images/';
$path-icons: $path-images + 'icons/';

// Typography
$base-font-family: 'Helvetica Neue', 'Arial', sans-serif;
$base-font-size: 16px;
$base-font-weight: 300;
$base-line-height: 1.4;

// Project Colors
$base-color: #fff;
$contrast-color: #000;
