.astronaut {
	display: none;

	position: absolute;
	top: 50%;
	left: 50%;

	max-width: 50%;
	max-height: 50%;

	transform: rotate(0) translate(-50%, -50%);
	transform-origin: 0 0;

	animation-name: weightless;
	animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
