<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{page.title}} – {% endif %}{{site.author}}</title>

  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.github.project_tagline}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{site.twitter}}">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} &ndash; {% endif %} {{site.author}}">
  <meta name="twitter:description" content="{{site.github.project_tagline}}">
  <meta name="twitter:creator" content="{{site.twitter}}">
  <meta name="twitter:image:src" content="{{site.github.owner_gravatar_url}}">
  <meta name="twitter:url" content="http://magnus.sexy">

  <meta itemprop="name" content="{% if page.title %}{{ page.title }} &ndash; {% endif %} {{ site.name }}">
  <meta itemprop="description" content="{{site.github.project_tagline}}">
  <meta itemprop="image" content="{{site.github.owner_gravatar_url}}">

  <link rel="stylesheet" href="/assets/styles/magnus.css">

<body>
  <canvas id="interstellar"></canvas>
  <main>{% include intro.html %}</main>

  <script src="/assets/scripts/magnus.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55198898-1', 'auto');
    ga('send', 'pageview');
  </script>
