.contact {
  @include span(8 of 12);
  @include squish(2);

  ul {
    @extend %reset-list;
    @extend %clearfix;
  }

  li {
    @include span(4 of 12);
    @include pad(1);
  }

  a {
    transform-style: preserve-3d;

    &:hover svg { transform: scale(1.1); }
  }

  .twitter:hover svg { fill: #2b7bb9; }
  .github:hover svg { fill: #4183c4; }
  .email:hover svg { fill: #F012BE; }

  svg {
    width: 100%;
    fill: $base-color;

    transform: scale(1);

    will-change: fill, transform;

    transition: fill 150ms ease-out, transform 150ms ease-out;
  }
}
